<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-4">
      <form action="" class="d-flex flex-column">
        <label for="">USER NAME</label>
        <input type="text" name="" id="" />
        <label for="">USER NAME</label>
        <input type="text" />
      </form>
      <div class="d-flex">
        <button class="btn btn-primary m-auto">CLICK ME</button>
        <button class="btn btn-primary m-auto">CLICK ME</button>
      </div>
    </div>
  </div>
</div>
