<div class="container">
  <div class="row">
    <div class="col-md-8">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis,
        obcaecati placeat! Repellendus excepturi sit doloribus aliquam dolore
        reprehenderit ullam magnam esse tempore minima? Officia, perferendis!
        Exercitationem nobis commodi rerum magni.
      </p>
    </div>
    <div class="col-md-4">
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maxime tempora
        est esse asperiores possimus quasi eveniet modi vel, distinctio numquam,
        quod autem hic quidem nisi quisquam suscipit libero quaerat quos!
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="jumbotron">
        <h1>HELLO</h1>
        <hr>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illum dolor ut tempore. Harum, quia saepe. Velit ab nostrum eveniet ea ut quam, sapiente necessitatibus quisquam distinctio! Quas vero voluptate ut.</p>
      </div>
    </div>
  </div>
<app-shopping-list></app-shopping-list>
  
</div>