<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center text-danger">Omega</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 mt-5">
      <p class="text-center">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis,
        obcaecati placeat! Repellendus excepturi sit doloribus aliquam dolore
        reprehenderit ullam magnam esse tempore minima? Officia, perferendis!
        Exercitationem nobis commodi rerum magni.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad a, ipsum
        fugiat iure tempore ut exercitationem eius ullam autem. Vitae mollitia
        voluptas nulla non soluta. Voluptatibus, magni. Magnam, voluptatum
        voluptatem! Veniam itaque placeat ipsam non aspernatur possimus
        necessitatibus animi unde ullam maxime iure, sunt cum voluptas iste
        magni ea, beatae eius. Laborum, obcaecati maxime. Laudantium consequatur
        praesentium deserunt optio dolores! Non reiciendis doloribus veritatis
        ipsam accusamus totam ex ipsa! Iusto, impedit nostrum? Voluptas
        laudantium exercitationem tenetur perspiciatis eum qui iusto dolores
        aspernatur doloribus ea placeat, fugiat quod quas libero dolore. Sint
        facere laboriosam enim eos exercitationem molestias recusandae error, id
        asperiores impedit animi beatae ipsam explicabo maiores eligendi
        incidunt voluptas iure! Odit, illum rerum eos consequuntur voluptatum
        quidem quam quaerat?
      </p>
    </div>
    <div class="col-md-6">
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad a, ipsum
        fugiat iure tempore ut exercitationem eius ullam autem. Vitae mollitia
        voluptas nulla non soluta. Voluptatibus, magni. Magnam, voluptatum
        voluptatem! Veniam itaque placeat ipsam non aspernatur possimus
        necessitatibus animi unde ullam maxime iure, sunt cum voluptas iste
        magni ea, beatae eius. Laborum, obcaecati maxime. Laudantium consequatur
        praesentium deserunt optio dolores! Non reiciendis doloribus veritatis
        ipsam accusamus totam ex ipsa! Iusto, impedit nostrum? Voluptas
        laudantium exercitationem tenetur perspiciatis eum qui iusto dolores
        aspernatur doloribus ea placeat, fugiat quod quas libero dolore. Sint
        facere laboriosam enim eos exercitationem molestias recusandae error, id
        asperiores impedit animi beatae ipsam explicabo maiores eligendi
        incidunt voluptas iure! Odit, illum rerum eos consequuntur voluptatum
        quidem quam quaerat?
      </p>
    </div>
  </div>
</div>
