<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center">Omega</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 mt-5">
      <p class="text-center">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis,
        obcaecati placeat! Repellendus excepturi sit doloribus aliquam dolore
        reprehenderit ullam magnam esse tempore minima? Officia, perferendis!
        Exercitationem nobis commodi rerum magni.
      </p>
    </div>
    
  </div>
  <div class="row">
      <div class="col-md-12 container-fluid">
          <p class="text-center">
              CAROUSEL
            </p>
      </div>
    </div>
</div>
