.grid {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 75px auto 75px;
  grid-template-rows: 50px auto 100px;
}
app-nav-bar {
  grid-column: 1/4;
  grid-row: 1/2;
}

app-footer {
  grid-column: 1/4;
  grid-row: 3/4;
}
.main {
    grid-column: 1/4;
    grid-row: 2/3;
}
