<ul class="nav justify-content-end bg-light">
  <li class="nav-item">
    <button class="btn btn-link" routerLink="/home">Home</button>
  </li>
  <li class="nav-item">
    <button class="btn btn-link" routerLink="collection">Collection</button>
  </li>
  <li class="nav-item">
    <button class="btn btn-link" routerLink="history">History</button>
  </li>
  <li class="nav-item">
    <button class="btn btn-link" routerLink="contact">Contact Us</button>
  </li>
  <li class="nav-item">
    <i class="fas fa-user fa-lg mt-2"><span class="badge badge-light">9</span></i>
  </li>
</ul>
