<div class="container">
  <div class="row">
    <div class="col-md-6 mt-5">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora aperiam
        vitae officia odio placeat provident cum numquam consectetur quia a
        dolores voluptatem, quos architecto atque alias animi dolore molestiae
        iste!Exercitationem maxime ipsum, facere explicabo sit beatae veritatis
        dicta. Nulla labore tempora atque adipisci exercitationem, autem aliquid
        voluptatibus ducimus quo provident quis nostrum, culpa ipsum soluta.
        Quam facere laboriosam ab.
      </p>
    </div>
    <div class="col-md-6 mt-5">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora aperiam
        vitae officia odio placeat provident cum numquam consectetur quia a
        dolores voluptatem, quos architecto atque alias animi dolore molestiae
        iste!Exercitationem maxime ipsum, facere explicabo sit beatae veritatis
        dicta. Nulla labore tempora atque adipisci exercitationem, autem aliquid
        voluptatibus ducimus quo provident quis nostrum, culpa ipsum soluta.
        Quam facere laboriosam ab.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 mt-5">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora aperiam
        vitae officia odio placeat provident cum numquam consectetur quia a
        dolores voluptatem, quos architecto atque alias animi dolore molestiae
        iste!Exercitationem maxime ipsum, facere explicabo sit beatae veritatis
        dicta. Nulla labore tempora atque adipisci exercitationem, autem aliquid
        voluptatibus ducimus quo provident quis nostrum, culpa ipsum soluta.
        Quam facere laboriosam ab.
      </p>
    </div>
    <div class="col-md-6 mt-5">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora aperiam
        vitae officia odio placeat provident cum numquam consectetur quia a
        dolores voluptatem, quos architecto atque alias animi dolore molestiae
        iste!Exercitationem maxime ipsum, facere explicabo sit beatae veritatis
        dicta. Nulla labore tempora atque adipisci exercitationem, autem aliquid
        voluptatibus ducimus quo provident quis nostrum, culpa ipsum soluta.
        Quam facere laboriosam ab.
      </p>
    </div>
  </div>
</div>
