<div
  class="card col mt-2 bg-light"
  style="display: inline-block; border:none;"
  *ngFor="let shopItem of (items | async)"
>
  <img class="card-img-top" src="{{ shopItem.imgUrl }}" alt="Card image cap" />
  <div class="card-body">
    <h5 class="card-title text-center">{{ shopItem.name }}</h5>
    <p class="card-text text-center">{{ shopItem.collection }}</p>
    <p class="card-text text-center">{{ shopItem.subCollection }}</p>
    <p class="card-text text-center">{{ shopItem.price }}$</p>
    <a href="#" class="stretched-link"></a>
  </div>
</div>
