<div class="container d-flex">
   <div class="col-md-6">
     <img class="w-100" src="https://www.omegawatches.com/media/catalog/product/cache/24a428605d9d3486805662c3fc75dd0740bf8916c79722ea9036e86d3e71a17c/o/m/omega-speedmaster-moonwatch-anniversary-limited-series-31060425099001-l.png" alt="">
   </div>
   <div class="col-md-6 align-middle mt-5 text-center">
     <h1>Watch Name</h1>
     <h3 class="mt-5">Collection Name</h3>
     <hr>
     <h5>SubCollection Name</h5>
     <hr>
     <p class="mt-5">15000$</p>
     <button class="btn btn-primary mt-5">Buy Now</button>
   </div>
</div>